.secured h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.secured p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#secured {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
