.SideBarLink p {
  color: #ffff;
  background-color: #9ea0ac;
  border: 1px solid;
  box-sizing: border-box;
  height: 66px;
  padding: 25px 62.2px;
  width: 230%;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
}

.SideBarLink p:hover {
  background-color: #98a5e4;
  color: #ebe7ef;
}

.SideBarLink p.active {
  background-color: #5063bf;
  color: #ebe7ef;
}
